body {
  text-align: center;
  color: #F0E68C;
  background-color: black;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
  grid-gap: 3px;
}

.logo {
  text-align: center;
}

.nav {
  background-color: #ff9900;
  text-decoration: none;
  grid-column: 1/-1;
}

.button {
  background-color: #c1c730;
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  background-color: #a71313;
}

.sidebar {
  text-align: left;
  grid-row: 3/6;

}
p{margin: 1px;

}

.image1 {
  float: left;
}

.content1 {
  float: left;
  grid-column: 2/-1;
  text-align: left;
  text-decoration-color: #F0E68C;
  background-color: black;
  font-size: 16px;
  font-family: sans-serif;

}

.image2 {
  grid-column: 10/-1;
  float: right;
}

.content2 {
  grid-column: 2/-1;
  grid-row: 4/5;
  text-align: left;
  background-color: black;
  font-size: 16px;
  font-family: sans-serif;
}

.image3 {
  grid-column: 2/5;
  grid-row: 5/6;
  float: left;
}

.content3 {
  grid-column: 5/-1;
  grid-row: 5/6;
  text-align: left;
  background-color: black;
  font-size: 16px;
  font-family: sans-serif;
}

.footer {
  grid-column: 1/-1;

  height: 150px;
  background-color: #ff9900;
  padding: 50px;
}
